@use '../util' as u;

.container {
  width: min(100% - u.rem(40), u.rem(1000));
  margin-inline: auto;
  padding: u.rem(40);
  background-repeat: no-repeat;
  background-size: cover;

  .main-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: u.rem(40);
  }
}
